// Specific CSS for your home-page
.banner {
  height: 95vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  margin: 0 auto;
  width: max-content;
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
  font-size: 48px;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
}

.search-bar {
  display: flex;
  justify-content: center;
  opacity: 0.8;
}

.form-control {
  border-radius: 10px;
  border: none !important;
  height: 40px !important;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-left: 5px;
  height: 40px !important;
  border: none !important;
}

// .btn-success {
//   color: white;
//   padding: 8px 24px;
//   border-radius: 8px;
//   transition: background 0.3s ease;
//   display: flex;
//   align-items: center;
// }

// .btn-flat:hover {
//   background: #1BCB7F;
//   color: white;
// }
