<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>Treehouses in your region</h1>
    </div>
  </div>

  <div class="row">
    <% @treehouses.each do |treehouse| %>
      <div class="col-md-4 mt-4">
        <div class="treehouse-card">
          <div class="flat-card-image" style= "background-image: url(<%= treehouse.photo.attached? ? cl_image_path(treehouse.photo.key) : asset_path('default_treehouse.jpg') %>)">
          <div class="treehouse-card-content">
            <div class="treehouse-card-title">
              <h4><%= treehouse.name %></h4>
            </div>
            <p><%= treehouse.address %></p>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>
