<div class="footer">
  <div class="footer-links">
    <a target="_blank" href="https://findtheinvisiblecow.com/"><i class="fab fa-github"></i></a>
    <a target="_blank" href="https://onesquareminesweeper.com/"><i class="fab fa-instagram"></i></a>
    <a target="_blank" href="http://papertoilet.com/"><i class="fab fa-facebook"></i></a>
    <a target="_blank" href="https://screamintothevoid.com/"><i class="fab fa-twitter"></i></a>
    <a target="_blank" href="https://thisissand.com/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Tree House is made with <i class="fas fa-heart"></i> from Tree House Team
  </div>
  <div class="website-links">
    <a href="#"><i class="impressum"></i>Terms of Use</a>
  </div>
</div>
