<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1587913696806-280ef35f1e19?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070);">
  <div class="container">
    <h1>Time to disconnect</h1>
    <input type="text" id="destination" placeholder="Where to?"><br>
    <input type="text" id="date" placeholder="When?">
    <a class="btn btn-success mt-2" href="#">Book now</a>
    <button class="btn btn-primary" type="submit">Book now</button>
  </div>
</div>
