// .banner {
//   height: 700px;
//   background-size: cover;
//   background-position: center;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.simple-form {
  display: flex;
	justify-content: center;
	align-items: center;
}
