.banner {
  height: 700px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .banner h1 {
//   margin: 0 auto;
//   width: max-content;
//   color: white;
//   text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
//   font-size: 48px;
//   font-weight: bold;
//   font-family: 'Work Sans', sans-serif;
// }
