.footer {
  background: #ece7e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 180px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  bottom: 0;
  width: 100%;
  height: 3.5rem
}

.footer-links,
.website-links
{
  display: flex;
  align-items: center;
  transition: all .3s ease-in-out;
}

.footer-links a {
  color: #222222;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover,
.website-links a:hover
{
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
  transition: all .4s ease-in-out;
}

.fa-heart:hover {
  transform: scale(2.1);
  }

.website-links a {
  color: #222222;
  opacity: 0.15;
  text-decoration: none;
  font-size: 15px;
  padding: 0px 10px;
}

.footer-links:hover {
  transform: scale(1.1);
}
