.mapboxgl-popup {
  max-width: 200px;
  background-repeat: no-repeat;
  opacity: 0.95;
  border-radius: 11px;
  background: #accabc !important;
  border-radius: 11px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-repeat: no-repeat;
  background: #c2ded1 !important;
  border-radius: 11px !important;
  padding: 25px 25px 23px !important;
  opacity: 0.97;
}

// .color-info {
//   color: white !important;
//   // font-weight: bold;
// }

.Map marker {
  background: #C2DED1 !important;
}

// .mapboxgl-marker-anchor-center {
//   background: #8b9e8e !important;
// }
