.navbar-lewagon {
  justify-content: space-between;
  background: #F7F7F7;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.container-fluid {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.navbar{
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  height: 80px;
}

a:hover {
  opacity: 1;
}

.avatar:hover {
  transform: scale(1.4);
}

.avatar {
  transition: all .4s ease-in-out;
  }

.navbar-lewagon .navbar-brand img {
  width: 60px;
  transition: all .4s ease-in-out;
}

.navbar-brand img:hover {
  transform: scale(1.25);
}
