.new-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin: 10vh;
}

.caption h1 {
  display: flex;
  padding: 20px;
  color: white;
  text-shadow: 5px 5px 10px rgba(0,0,0,0.8);
  font-size: 48px;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
}

.caption p {
  display: flex;
  padding: 10px;
  color: white;
  text-shadow: 8px 8px 10px rgba(0,0,0,1);
  font-size: 24px;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
}
.simple-form {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
  background-color: #f8f9fade;
  padding: 40px;
}

.banner-new {
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
