.treehouse-card {
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  // border-radius: 2px;
  border-radius: 11px !important;
  background-color: #C2DED1;
}

.treehouse-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

  .treehouse-card-image {
    background-color: rgba(0,0,0,0);
  }
}

.treehouse-card-image {
  height: 60%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: rgba(0,0,0,0.2);
  background-blend-mode: color;
  border-top-right-radius: 11px !important;
  border-top-left-radius: 11px !important;
}

.treehouse-card-content {
  padding: 24px;
}

.mapboxgl-canvas {
  border-radius: 11px !important;
}

// .map-flex {

// }
