// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Your CSS partials
@import "components/index";
@import "pages/index";

// div {
//   border: 1px solid rgb(229, 103, 254);
// }

.main-container {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  // padding-bottom: 0px;
}

* {
  font-family: 'Roboto', sans-serif;
  color: #222222;
  background-repeat: no-repeat;
}
